# Env Config
.env.*

# Deploy and Hosting
.vercel

# Swap files
*.swp
*.swo
*~

# Debug
*.log

# System files
.DS_Store
Thumbs.db

# Dependency and build outputs
node_modules/
.pnpm-store/
.next/
out/
build/
dist/

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Others
.nyc_output/
